.about-content{
    min-height: 90vh;
    padding: 0 20px;
    margin-bottom: 60px;

    @media(min-width: 600px){
    max-width: 900px;
    margin:0 auto;
    text-align: left;
    }


    strong{
        font-weight: bold;
    }

    p{
        color: $whiteFillProjects;
        padding: 5px 0;

        @media(min-width: 700px){      
            font-size: 1.10em;
        }
        
    }

    h1{
        @media(min-width: 700px){      
            text-align: left;
        }
    }

    .my-im{
        border-radius:50%; 
        object-fit:cover;
        width:200px ;
        height:200px;

        @media(min-width: 600px){
            border-radius: 3px;
            height: 300px;
            width: auto;
            object-fit: fill;
            margin-left: 20px;
            float: right;


        }        
    }


}