.cta{
   height: 650px;
   background-color: $backGround;
    
    h2{
            font-size: 2.5em;
            font-weight: 800;
            color: $navWhite;
            padding-top: 200px;
    
        }
    .yellow-circle{
        margin:0 20%;
        height: 200px;
        width: 60%;
        border-radius: 50%;
        background-color:#8E5066;

        @media(min-width:450px){
            margin: 0 30%;
            width: 40%;
        }

        a{
            opacity: 100%;
            color:gold;
            font-size: 1.55em;
            padding:15% auto;
            cursor: pointer;

            @media(min-width:550px){
                font-size: 2em;
            }
    

        }

       h3{
          padding-top: 75px;
       }
    }
   
}