footer{
    padding-top: 30px;
}
.footer-content{
    display: none;
    p,a{
        color:$navWhite;
        font-size: .90em;
    }
 
    @media(min-width:550px){
        display: inline;
        float: right;

        ul,p{
            display:flex;
            justify-content: space-around;
            width: 300px;
        }
      
    }
      
}