.footer-content{
    display: none;
    background-color: #39101F;
    padding: 20px;
    padding-bottom: 10px;
    border-radius:48% 52% 70% 30% / 99% 62% 38% 1%  ;

    p{
        color:$navWhite;
    }
    a{
        color: $navWhite;
    }

    @media(min-width:550px){
        display: block;
        float: right;

        ul,p{
            display:flex;
            justify-content: space-between;
            width: 300px;
        }

        .footer-name{
           font-family:'Raleway', sans-serif
        }
      
    }
      
}