.hero{
    min-height: 80vh;

    a{
      color: $yellowText;

      @media(min-width:700px){
        font-size: 1.5em;

      }
    }

    .home-button{
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
    }

    .hero-content{
    text-align: left  ;
    padding-top: 15vh;
    margin: 0 5vw;
    
      @media(min-width:500px){
        padding-top: 15vh;
        max-width: 90vw;
        margin: 0 auto;
      }

      @media(min-width:700px){
        text-align: left;

      }
    }

    h1{
      font-size: 1.5em;
      text-align: left;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 1.25em;  
      @include brownGradient;

        @media(min-width: 400px){
          font-size: 2em;
        }

        @media(min-width: 550px){
          font-size: 2.5em;
          border-bottom: 2px solid $brownText;
        }

        @media(min-width: 700px){
          font-size: 2.75em;
        }

        @media(min-width: 850px){
          font-size: 3.5em;
        }
    }

    .top{
      @media(min-width: 550px){
        border-top: 2px solid $brownText;
        text-align: left;
        margin-right:15vw ;
      }
    }

    .bottom{
      @media(min-width: 550px){
        text-align: right;
        margin-left:15vw ;
      }
    }

    .middle{
      @media(min-width: 550px){
        text-align: center;
        margin-left:5vw ;
      }
    }
}

.bg-circle{
  background: url(../../images/shapes.png);
  background-color:#30175D;
  position: absolute;
  min-height: 80vh;
  width: 100vw;
  object-fit: cover;
  background-attachment: fixed;
  background-repeat: round;
  opacity: .4;
  z-index: -1;

}

    