//project-globals
.projects-section{
    max-width: 1500px;
    margin: 0 auto;
}
.above-fold-content{
    max-width: 90%;
    margin: 0 auto;
    background-color: $backGround;
    padding-bottom: 80px;
    min-height: 80vh;

    h3{
        padding: 30px 0;

        @media(min-width:400px){
            font-size: 2em;
        }

        @media(min-width: 600px){
            font-size: 2.5em;
        }

        @media(min-width: 900px){
            font-size: 3em;
        }
    }

    img{
        max-height: 40vh;
        object-fit: cover;
        width: 100%;
        @media(min-width: 700px){
            max-width: 1500px;

        }
    }

    p{
        padding: 20px 0;
        color: $whiteFillProjects;
        margin-bottom: 30px;
    }


    h4{
        text-align: center;
        margin-top: 15px;
    }

    a{
        @include button-style;
        @include a-tag-button; 
        

        
        
        
        @media(min-width: 600px){
            padding: 15px 30px;
        }
    }
}

.project-nav{
    max-width: 90%;
    max-width: 1500;
    margin: 0 auto;
    background-color: $whiteFillProjects;
    
    
    h3{
        margin-top: 20px; 
        margin-bottom: 10px;
        color: black;
    }

    img{
        max-width: 300px;
    }

    button{
        margin-bottom: 2px ;    
        margin-top: 2px ;        
    }

    .panel, .accordion{

        p{
            color: $brownText;
        }
    }        
}

