//=================== project-grid layout
.portfolio-project{
        
    .panel{
        @media (min-width:800px){
        display: grid;
        grid-template-areas: 
        
        ' content-planning content-planning content-planning content-planning' 
        ' info-architecture info-architecture site-plan site-plan '
        ' wireframes wireframes site-plan site-plan'
        ' wireframes wireframes design design'
        ' mockup mockup mockup mockup '
        ' mockup mockup mockup mockup '
        ' code live-site takeaways .'
        ;   
            .content-planning{
                grid-area: content-planning;
            }

            .site-plan{
                grid-area: site-plan;
            }

            .info-architecture{
                grid-area: info-architecture;
            }

            .wireframes{
                grid-area: wireframes;
            }

            .design{
                grid-area: design;
            }

            .code{
                grid-area: code;
            }

            .live-site{
                grid-area: live-site;
            }

            .takeaways{
                grid-area: takeaways;
            }

            .mockup{
                grid-area: mockup;
            }
        }


    }
}