.capstone-project{
    .above-fold-content{
        p{
            padding: 5px;
            margin-bottom: 0;
        }
        img{
            margin-bottom: 30px;
        }
    }

//=================== project-grid layout
    .panel{
        @media (min-width:800px){
        display: grid;
        grid-template-areas: 
                        ' content-planning content-planning content-planning content-planning' 
                        ' site-map site-map site-map info-architecture '
                        ' wireframes wireframes wireframes  design'
                        ' wireframes wireframes wireframes design'
                        ' mockup mockup mockup . '
                        ' mockup mockup mockup code'
                        ' mockup mockup mockup live-site'
                        ' mockup mockup mockup reflections'
                        ;   
            .content-planning{
                grid-area: content-planning;
            }
    
            .site-map{
                grid-area: site-map;
            }
    
            .info-architecture{
                grid-area: info-architecture;
                text-align: left;
                padding-left: 10px;
            }
    
            .wireframes{
                grid-area: wireframes;
            }
    
            .design{
                grid-area: design;
            }
    
            .code{
                grid-area: code;
            }
    
            .live-site{
                grid-area: live-site;
            }
    
            .reflections{
                grid-area: reflections;
            }
    
            .mockup{
                grid-area: mockup;
            }
        }
    
    }
}