

.scroll-down{
    margin-top:50px;

    p{
        font-weight: 600;
    }  
}


.container {
    width: 24px;
    height: 24px;
    margin: 30px auto;
  }
  
  .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 10s ease-out 2s infinite;
  }
  
  .chevron:first-child {
    animation: move 10s ease-out 5s infinite;
  }
  
  .chevron:nth-child(2) {
    animation: move 10s ease-out 8s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: $red;
  }
  
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  
    
    .text {
        display: block;
        margin-top: 50px;
        font-family: 'Lora', sans-serif;
        font-size: 14px;
        color: $black;
        text-transform: uppercase;
        white-space: nowrap;
        position: relative;
        left: -35px;

        @media(min-width:800px){
          margin-top: 0;
        }
    }
       
