@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Montserrat:wght@400;500;600;700&family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&family=Lora:wght@400;500;600;700&family=Proza+Libre:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=PT+Sans:wght@400;700&family=Raleway:wght@400;500;600;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  min-width: 320px;
}

textarea {
  resize: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  color: #AE7C53;
  font-family: 'Lora', sans-serif;
  font-size: 1.5em;
}

h2 {
  font-size: 1.75em;
  font-family: 'Lora', sans-serif;
}

a {
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Lora', sans-serif;
  color: #CC0066;
}

p {
  line-height: 1.5em;
  font-family: 'Lora', sans-serif;
  font-weight: 600;
  font-size: 1.15em;
  color: #F8F7F3;
  text-align: left;
}

h1 {
  font-size: 1.75em;
  text-align: center;
  font-weight: 500;
  line-height: 1.25em;
  margin: 30px auto;
  color: #AE7C53;
  background: -webkit-linear-gradient(#F3EEE8, #AE7C53, #AE7C53);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 400px) {
  h1 {
    font-size: 2em;
  }
}

@media (min-width: 550px) {
  h1 {
    font-size: 2.5em;
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: 2.75em;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 3.0em;
  }
}

.icon {
  height: 28px;
}

@-webkit-keyframes anchor-underline {
  0%, 10% {
    left: 0;
    right: 100%;
  }
  40%, 60% {
    left: 0;
    right: 0;
  }
  90%, 100% {
    left: 100%;
    right: 0;
  }
}

@keyframes anchor-underline {
  0%, 10% {
    left: 0;
    right: 100%;
  }
  40%, 60% {
    left: 0;
    right: 0;
  }
  90%, 100% {
    left: 100%;
    right: 0;
  }
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.8;
  border: 1px #5B330A solid;
}

.about-content {
  min-height: 90vh;
  padding: 0 20px;
  margin-bottom: 60px;
}

@media (min-width: 600px) {
  .about-content {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
  }
}

.about-content strong {
  font-weight: bold;
}

.about-content p {
  color: #F3EEE8;
  padding: 5px 0;
}

@media (min-width: 700px) {
  .about-content p {
    font-size: 1.10em;
  }
}

@media (min-width: 700px) {
  .about-content h1 {
    text-align: left;
  }
}

.about-content .my-im {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 200px;
}

@media (min-width: 600px) {
  .about-content .my-im {
    border-radius: 3px;
    height: 300px;
    width: auto;
    -o-object-fit: fill;
       object-fit: fill;
    margin-left: 20px;
    float: right;
  }
}

.cta {
  height: 650px;
  background-color: #050538;
}

.cta h2 {
  font-size: 2.5em;
  font-weight: 800;
  color: #988C7D;
  padding-top: 200px;
}

.cta .yellow-circle {
  margin: 0 20%;
  height: 200px;
  width: 60%;
  border-radius: 50%;
  background-color: #8E5066;
}

@media (min-width: 450px) {
  .cta .yellow-circle {
    margin: 0 30%;
    width: 40%;
  }
}

.cta .yellow-circle a {
  opacity: 100%;
  color: gold;
  font-size: 1.55em;
  padding: 15%;
  cursor: pointer;
}

@media (min-width: 550px) {
  .cta .yellow-circle a {
    font-size: 2em;
  }
}

.cta .yellow-circle h3 {
  padding-top: 75px;
}

.home-body {
  height: 100vh;
  overflow: hidden;
}

.hero a {
  color: #AE7C53;
}

@media (min-width: 700px) {
  .hero a {
    font-size: 1.5em;
  }
}

.hero a:hover {
  color: #F3EEE8;
  text-decoration: underline;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  line-height: 1.25em;
}

.hero a:hover::after {
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}

.hero .home-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}

.hero .hero-content {
  text-align: left;
  padding-top: 10vh;
  margin: 0 5vw;
}

@media (min-width: 500px) {
  .hero .hero-content {
    padding-top: 5vh;
    max-width: 90vw;
    margin: 0 auto;
  }
}

@media (min-width: 700px) {
  .hero .hero-content {
    text-align: left;
  }
}

.hero h1 {
  font-size: 1.5em;
  text-align: left;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.25em;
  color: #AE7C53;
  background: -webkit-linear-gradient(#F3EEE8, #AE7C53, #AE7C53);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 400px) {
  .hero h1 {
    font-size: 2em;
  }
}

@media (min-width: 550px) {
  .hero h1 {
    font-size: 2.5em;
    border-bottom: 2px solid #5B330A;
  }
}

@media (min-width: 700px) {
  .hero h1 {
    font-size: 2.75em;
  }
}

@media (min-width: 850px) {
  .hero h1 {
    font-size: 3.5em;
  }
}

@media (min-width: 550px) {
  .hero .top {
    border-top: 2px solid #5B330A;
    text-align: left;
    margin-right: 15vw;
  }
}

@media (min-width: 550px) {
  .hero .bottom {
    text-align: right;
    margin-left: 15vw;
  }
}

@media (min-width: 550px) {
  .hero .middle {
    text-align: center;
    margin-left: 5vw;
  }
}

.home-footer {
  display: none;
}

@media (min-width: 565px) {
  .home-footer {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.header-content {
  background-color: #050538;
}

@media (min-width: 565px) {
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-nav {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  background-color: #30175D;
  z-index: 6;
}

@media (min-width: 565px) {
  .main-nav {
    top: 0px;
    right: 0px;
    width: 450px;
    height: 65.3px;
    border-radius: 3px;
    padding: 20px 0;
    position: absolute;
    margin-top: 15px;
    margin-right: 10px;
    background-color: #050538;
    /* Top and Bottom borders go out */
  }
  .main-nav a:before, .main-nav a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #988C7D;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .main-nav a:before {
    top: 0px;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  .main-nav a:after {
    bottom: 0px;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .main-nav a:hover:before, .main-nav a:hover:after {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-nav a {
  color: #FFF;
  text-decoration: none;
  font-size: 1em;
  padding: 10px 5px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  color: #AE7C53;
}

@media (min-width: 650px) {
  .main-nav a {
    font-size: 1.25em;
    padding: 20px 0;
    margin: 0px 10px;
  }
}

.main-nav img {
  max-height: 20px;
}

.logo .logo-im {
  background-color: #988C7D;
  position: relative;
  height: 100px;
  border-radius: 50%;
  position: relative;
  top: -22px;
  padding: 10px;
}

@media (min-width: 565px) {
  .logo .logo-im {
    left: -15px;
    top: -15px;
    padding: 0;
  }
}

.project-container {
  min-height: 80vh;
  padding-bottom: 50px;
}

@media (min-width: 565px) {
  .project-container .flex-content {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.project-container h2 {
  font-size: 2em;
  position: relative;
  top: 136px;
  background-color: #050538;
  color: #AE7C53;
  background: -webkit-linear-gradient(#F3EEE8, #AE7C53, #AE7C53);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-container .a-buttonlike {
  border: none;
  padding: 10px 15px;
  background-color: #050538;
  font-weight: bold;
  border: solid 1px #988C7D;
  border-radius: 3px;
  -webkit-box-shadow: #AE7C53 2px 2px 0 0;
          box-shadow: #AE7C53 2px 2px 0 0;
  margin-top: 30px;
  cursor: pointer;
  text-transform: capitalize;
  font-family: 'Lora', sans-serif;
  display: none;
  background-color: #39101F;
  border: none;
  margin: 0 25%;
  color: #F3EEE8;
}

.project-container .p-box {
  width: 100vw;
  height: 300px;
  background-color: #050504;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 50px 10px;
  border-radius: 3px;
  border-top: #AE7C53 2px solid;
  border-bottom: #AE7C53 2px solid;
  -webkit-transition: 3s;
  transition: 3s;
}

@media (min-width: 565px) {
  .project-container .p-box {
    width: 40vw;
    border-radius: 3px;
    margin: 10px;
  }
}

@media (min-width: 1200px) {
  .project-container .p-box {
    max-width: 500px;
    border-radius: 3px;
    margin: 10px;
  }
}

.project-container .p-box:hover .a-buttonlike {
  display: block;
  letter-spacing: 3px;
  background-color: #39101F;
}

.project-container .p-box:hover h2 {
  display: none;
}

.project-container .project-im-hover,
.project-container .project-im-two-hover {
  display: none;
}

.project-container .p-one:hover,
.project-container .p-two:hover {
  background-color: white;
}

.project-container .p-one:hover .project-im-hover,
.project-container .p-one:hover .project-im-two-hover,
.project-container .p-two:hover .project-im-hover,
.project-container .p-two:hover .project-im-two-hover {
  display: inline-block;
}

.project-container .project-im-hover {
  margin-top: 40px;
}

.project-container .project-im-hover,
.project-container .project-im-two-hover {
  width: 250px;
  max-height: 250px;
  overflow-x: hidden;
  opacity: .95;
  cursor: pointer;
}

.project-container .project-im-two-hover {
  width: 200px;
  padding-top: 30px;
}

.projects-section {
  max-width: 1500px;
  margin: 0 auto;
}

.projects-section h1 {
  border-bottom: 2px solid #5B330A;
  border-top: 2px solid #5B330A;
  margin-bottom: 30px;
}

.above-fold-content {
  max-width: 90%;
  margin: 0 auto;
  background-color: #050538;
  min-height: 90vh;
}

.above-fold-content img {
  max-height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media (min-width: 700px) {
  .above-fold-content img {
    max-width: 1500px;
  }
}

.above-fold-content p {
  color: #F3EEE8;
  margin: 30px auto;
  font-size: 1.15em;
}

@media (min-width: 600px) {
  .above-fold-content p {
    max-width: 70%;
    margin: 40px auto;
  }
}

.above-fold-content .button {
  margin-top: 30px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.above-fold-content .button a {
  border: none;
  padding: 10px 15px;
  background-color: #050538;
  font-weight: bold;
  border: solid 1px #988C7D;
  border-radius: 3px;
  -webkit-box-shadow: #AE7C53 2px 2px 0 0;
          box-shadow: #AE7C53 2px 2px 0 0;
  margin-top: 30px;
  cursor: pointer;
  text-transform: capitalize;
  font-family: 'Lora', sans-serif;
  color: #AE7C53;
  letter-spacing: 3px;
}

@media (min-width: 600px) {
  .above-fold-content .button a {
    padding: 15px 30px;
    margin: 0;
  }
}

.project-nav {
  max-width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  background-color: white;
}

.project-nav article {
  border: 2px solid #050538;
  padding: 30px 0;
}

@media (min-width: 800px) {
  .project-nav article {
    border: 3px solid #050538;
  }
}

.project-nav article:nth-child(even) {
  background-color: #49a3c7;
}

@media (min-width: 800px) {
  .project-nav article:nth-child(even) {
    background-color: white;
  }
}

.project-nav p {
  color: black;
  text-align: left;
  padding: 10px;
}

.project-nav h3 {
  margin-bottom: 30px;
  color: black;
}

.project-nav img {
  max-width: 100%;
  padding: 0 10px;
}

.content-planning h3 {
  margin-bottom: 0;
}

.capstone-project .above-fold-content p {
  padding: 5px;
  margin-bottom: 0;
}

.capstone-project .above-fold-content img {
  margin-bottom: 30px;
}

@media (min-width: 800px) {
  .capstone-project .panel {
    display: -ms-grid;
    display: grid;
        grid-template-areas: ' content-planning content-planning content-planning content-planning'  ' site-map site-map site-map info-architecture ' ' wireframes wireframes wireframes  info-architecture' ' wireframes wireframes wireframes design' ' mockup mockup mockup . ' ' mockup mockup mockup code' ' mockup mockup mockup live-site' ' mockup mockup mockup reflections';
  }
  .capstone-project .panel .content-planning {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: content-planning;
  }
  .capstone-project .panel .site-map {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: site-map;
  }
  .capstone-project .panel .info-architecture {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    grid-area: info-architecture;
    text-align: left;
    padding-left: 10px;
  }
  .capstone-project .panel .wireframes {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: wireframes;
  }
  .capstone-project .panel .design {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
    grid-area: design;
  }
  .capstone-project .panel .code {
    -ms-grid-row: 6;
    -ms-grid-column: 4;
    grid-area: code;
  }
  .capstone-project .panel .live-site {
    -ms-grid-row: 7;
    -ms-grid-column: 4;
    grid-area: live-site;
  }
  .capstone-project .panel .reflections {
    -ms-grid-row: 8;
    -ms-grid-column: 4;
    grid-area: reflections;
  }
  .capstone-project .panel .mockup {
    -ms-grid-row: 5;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: mockup;
  }
}

@media (min-width: 800px) {
  .portfolio-project .panel {
    display: -ms-grid;
    display: grid;
        grid-template-areas: ' content-planning content-planning content-planning content-planning'  ' info-architecture info-architecture site-plan site-plan ' ' wireframes wireframes site-plan site-plan' ' wireframes wireframes design design' ' mockup mockup mockup mockup ' ' mockup mockup mockup mockup ' ' code live-site takeaways .';
  }
  .portfolio-project .panel .content-planning {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: content-planning;
  }
  .portfolio-project .panel .site-plan {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: site-plan;
  }
  .portfolio-project .panel .info-architecture {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: info-architecture;
  }
  .portfolio-project .panel .wireframes {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: wireframes;
  }
  .portfolio-project .panel .design {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: design;
  }
  .portfolio-project .panel .code {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: code;
  }
  .portfolio-project .panel .live-site {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
    grid-area: live-site;
  }
  .portfolio-project .panel .takeaways {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
    grid-area: takeaways;
  }
  .portfolio-project .panel .mockup {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: mockup;
  }
}

.contact-section {
  min-height: 100vh;
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 75px;
}

@media (min-width: 900px) {
  .contact-section .contact-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.contact-section #map {
  width: 80vw;
  height: 40vh;
}

@media (min-width: 900px) {
  .contact-section #map {
    width: 40vw;
    height: 75vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: 20px;
  }
}

.contact-section .link-to {
  line-height: 2em;
  color: #56a1b4;
  font-weight: bold;
}

.contact-section p {
  padding-bottom: 20px;
}

@media (min-width: 850px) {
  .contact-section p {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

.contact-section h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (min-width: 900px) {
  .contact-section h2 {
    margin-top: 0;
  }
}

.contact-section .form-heading {
  text-align: left;
  color: #56a1b4;
}

@media (min-width: 900px) {
  .contact-section .form-heading {
    width: 40vw;
  }
}

.contact-section form {
  text-align: left;
}

.contact-section form ::-webkit-input-placeholder {
  color: #F8F7F3;
  font-family: 'Raleway', sans-serif;
  font-size: 1.15em;
  opacity: 75%;
}

.contact-section form :-ms-input-placeholder {
  color: #F8F7F3;
  font-family: 'Raleway', sans-serif;
  font-size: 1.15em;
  opacity: 75%;
}

.contact-section form ::-ms-input-placeholder {
  color: #F8F7F3;
  font-family: 'Raleway', sans-serif;
  font-size: 1.15em;
  opacity: 75%;
}

.contact-section form ::placeholder {
  color: #F8F7F3;
  font-family: 'Raleway', sans-serif;
  font-size: 1.15em;
  opacity: 75%;
}

.contact-section form input, .contact-section form textarea {
  width: 80vw;
  border-radius: 2px;
  border: .5px solid #F1F1F1;
  opacity: 70%;
  margin-bottom: 5px;
  background-color: #2E2A2C;
  color: white;
  font-family: 'Raleway', sans-serif;
}

@media (min-width: 900px) {
  .contact-section form input, .contact-section form textarea {
    width: 40vw;
  }
}

.contact-section form input:focus::-webkit-input-placeholder,
.contact-section form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.contact-section form input:focus:-ms-input-placeholder,
.contact-section form textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.contact-section form input:focus::-ms-input-placeholder,
.contact-section form textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.contact-section form input:focus::placeholder,
.contact-section form textarea:focus::placeholder {
  color: transparent;
}

.contact-section form input {
  height: 40px;
}

@media (min-width: 900px) {
  .contact-section form input {
    height: 50px;
  }
}

.contact-section form textarea:focus, .contact-section form input:focus {
  outline: none;
  background-color: #F1F1F1;
  color: black;
}

.contact-section form button {
  color: #56a1b4;
  padding: 5px 15px;
  margin-top: 10px;
  font-size: 1em;
  letter-spacing: 3px;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #F1F1F1;
  border: 2px solid #DDD9D7;
  border-radius: 2px;
  cursor: pointer;
}

.scroll-down {
  margin-top: 50px;
}

.scroll-down p {
  font-weight: 600;
}

.container {
  width: 24px;
  height: 24px;
  margin: 30px auto;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
          transform: scale3d(0.5, 0.5, 0.5);
  -webkit-animation: move 10s ease-out 2s infinite;
          animation: move 10s ease-out 2s infinite;
}

.chevron:first-child {
  -webkit-animation: move 10s ease-out 5s infinite;
          animation: move 10s ease-out 5s infinite;
}

.chevron:nth-child(2) {
  -webkit-animation: move 10s ease-out 8s infinite;
          animation: move 10s ease-out 8s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #CC0066;
}

.chevron:before {
  left: 0;
  -webkit-transform: skew(0deg, 30deg);
          transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skew(0deg, -30deg);
          transform: skew(0deg, -30deg);
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 50px;
  font-family: 'Lora', sans-serif;
  font-size: 14px;
  color: #12080D;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  left: -35px;
}

@media (min-width: 800px) {
  .text {
    margin-top: 0;
  }
}

footer {
  padding-top: 30px;
}

.footer-content {
  display: none;
}

.footer-content p, .footer-content a {
  color: #988C7D;
  font-size: .90em;
}

@media (min-width: 550px) {
  .footer-content {
    display: inline;
    float: right;
  }
  .footer-content ul, .footer-content p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 300px;
  }
}

.page404 {
  height: 100vh;
}

.page404 h1 {
  position: absolute;
  width: 80%;
  height: 40vh;
  top: 30vh;
  left: 10%;
  line-height: 2em;
}

.page404 a {
  border: white 1px solid;
  padding: 5px;
}

html {
  background-color: #050538;
  text-align: center;
  scroll-behavior: smooth;
  min-width: 320px;
}
/*# sourceMappingURL=styles.css.map */