@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Montserrat:wght@400;500;600;700&family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&family=Lora:wght@400;500;600;700&family=Proza+Libre:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=PT+Sans:wght@400;700&family=Raleway:wght@400;500;600;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  min-width: 320px;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  color: #AE7C53;
  font-family: 'Lora', sans-serif;
  font-size: 1.5em;
}

h2 {
  font-size: 1.75em;
  font-family: 'Lora', sans-serif;
}

a {
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Lora', sans-serif;
}

p {
  line-height: 1.5em;
  font-family: 'Lora', sans-serif;
  font-weight: regular;
  font-size: 1em;
  color: #F8F7F3;
  text-align: left;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  font-weight: 500;
  line-height: 1.25em;
  color: #AE7C53;
  background: -webkit-linear-gradient(#F3EEE8, #AE7C53, #AE7C53);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 400px) {
  h1 {
    font-size: 2em;
  }
}

@media (min-width: 550px) {
  h1 {
    font-size: 2.5em;
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: 2.75em;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 3.0em;
  }
}

.icon {
  height: 28px;
}

a {
  cursor: pointer;
  color: #CC0066;
}

.about-content {
  min-height: 100vh;
  padding: 20px;
  margin-bottom: 60px;
}

@media (min-width: 600px) {
  .about-content {
    max-width: 900px;
    margin: 50px auto;
    text-align: left;
  }
}

.about-content .linkedin {
  color: #CC0066;
}

.about-content strong {
  font-weight: bold;
}

.about-content .about-flex .right-grid {
  grid-area: right;
}

.about-content .about-flex .left-grid {
  grid-area: left;
}

@media (min-width: 600px) {
  .about-content .about-flex {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'left right';
    grid-gap: 10px;
  }
}

.about-content p {
  color: #F3EEE8;
  padding: 5px 0;
}

@media (min-width: 700px) {
  .about-content p {
    font-size: 1.10em;
  }
}

.about-content h1 {
  text-align: left;
}

.about-content .last-p {
  margin-bottom: 30px;
}

.about-content .my-im {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 200px;
  float: inline-start;
}

@media (min-width: 600px) {
  .about-content .my-im {
    border-radius: 3px;
    height: 300px;
    width: auto;
    -o-object-fit: fill;
       object-fit: fill;
    margin-left: 20px;
  }
}

.cta {
  height: 650px;
  background-color: #200E3F;
}

.cta h2 {
  font-size: 2.5em;
  font-weight: 800;
  color: #988C7D;
  padding-top: 200px;
}

.cta .yellow-circle {
  margin: 0 20%;
  height: 200px;
  width: 60%;
  border-radius: 50%;
  background-color: #39101F;
}

@media (min-width: 450px) {
  .cta .yellow-circle {
    margin: 0 30%;
    width: 40%;
  }
}

.cta .yellow-circle a {
  opacity: 100%;
  color: gold;
  font-size: 1.55em;
  padding: 15% auto;
  cursor: pointer;
}

@media (min-width: 550px) {
  .cta .yellow-circle a {
    font-size: 2em;
  }
}

.cta .yellow-circle h3 {
  padding-top: 75px;
}

.hero {
  min-height: 80vh;
}

.hero a {
  color: #AE7C53;
}

@media (min-width: 700px) {
  .hero a {
    font-size: 1.5em;
  }
}

.hero .home-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}

.hero .hero-content {
  text-align: left;
  padding-top: 15vh;
  margin: 0 5vw;
}

@media (min-width: 500px) {
  .hero .hero-content {
    padding-top: 15vh;
    max-width: 90vw;
    margin: 0 auto;
  }
}

@media (min-width: 700px) {
  .hero .hero-content {
    text-align: left;
  }
}

.hero h1 {
  font-size: 1.5em;
  text-align: left;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.25em;
  color: #AE7C53;
  background: -webkit-linear-gradient(#F3EEE8, #AE7C53, #AE7C53);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 400px) {
  .hero h1 {
    font-size: 2em;
  }
}

@media (min-width: 550px) {
  .hero h1 {
    font-size: 2.5em;
    border-bottom: 2px solid #5B330A;
  }
}

@media (min-width: 700px) {
  .hero h1 {
    font-size: 2.75em;
  }
}

@media (min-width: 850px) {
  .hero h1 {
    font-size: 3.5em;
  }
}

@media (min-width: 550px) {
  .hero .top {
    border-top: 2px solid #5B330A;
    text-align: left;
    margin-right: 15vw;
  }
}

@media (min-width: 550px) {
  .hero .bottom {
    text-align: right;
    margin-left: 15vw;
  }
}

@media (min-width: 550px) {
  .hero .middle {
    text-align: center;
    margin-left: 5vw;
  }
}

.bg-circle {
  background: url(../../images/shapes.png);
  background-color: #30175D;
  position: absolute;
  min-height: 80vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  background-attachment: fixed;
  background-repeat: round;
  opacity: .4;
}

@media (min-width: 565px) {
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-nav {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  background-color: #30175D;
  z-index: 6;
}

@media (min-width: 565px) {
  .main-nav {
    top: 0px;
    right: 0px;
    width: 450px;
    height: 65.3px;
    border-radius: 3px;
    padding: 20px 0;
    position: absolute;
    margin-top: 15px;
    margin-right: 10px;
  }
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-nav a {
  color: #AE7C53;
  padding: 5px;
}

@media (min-width: 650px) {
  .main-nav a {
    font-size: 1.25em;
    padding: 20px 0;
  }
}

.main-nav a:hover {
  color: white;
  -webkit-transition: 5s linear;
  transition: 5s linear;
}

.main-nav img {
  max-height: 20px;
}

.logo-im {
  background-color: #988C7D;
  position: relative;
  padding: 15px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  top: -22px;
}

@media (min-width: 550px) {
  .logo-im {
    left: -15px;
  }
}

.project-container {
  padding-bottom: 80px;
}

.project-container h1 {
  font-size: 2.5em;
  margin: 10vh auto;
  color: #F3EEE8;
}

@media (min-width: 900px) {
  .project-container .flex-content {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.project-container h2 {
  color: #F8F7F3;
  font-size: 2em;
  position: relative;
  top: 136px;
  background-color: #200E3F;
  color: #AE7C53;
  background: -webkit-linear-gradient(#F3EEE8, #AE7C53, #AE7C53);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-container .a-buttonlike {
  border: none;
  padding: 10px 15px;
  background-color: #200E3F;
  font-weight: bold;
  border: solid 1px #988C7D;
  border-radius: 3px;
  -webkit-box-shadow: #AE7C53 2px 2px 0 0;
          box-shadow: #AE7C53 2px 2px 0 0;
  margin-top: 30px;
  cursor: pointer;
  text-transform: capitalize;
  font-family: 'Lora', sans-serif;
  display: none;
  background-color: #39101F;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  margin: 0 25%;
  color: #AE7C53;
}

.project-container .p-box {
  width: 100vw;
  height: 300px;
  background-color: #30175D;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 50px auto;
  background-blend-mode: multiply;
  border: solid 5px #200E3F;
  border-radius: 3px;
  border-top: #AE7C53 2px solid;
  border-bottom: #AE7C53 2px solid;
}

@media (min-width: 500px) {
  .project-container .p-box {
    max-width: 400px;
    border-radius: 3px;
  }
}

.project-container .p-box:hover .a-buttonlike {
  display: block;
  letter-spacing: 3px;
}

.project-container .p-box:hover h2 {
  display: none;
}

.project-container .p-one:hover,
.project-container .p-two:hover {
  background-color: #F3EEE8;
  background-blend-mode: soft-light;
  -webkit-transition: 1s;
  transition: 1s;
}

.project-container .p-one:hover .project-im-hover,
.project-container .p-one:hover .project-im-two-hover,
.project-container .p-two:hover .project-im-hover,
.project-container .p-two:hover .project-im-two-hover {
  display: inline-block;
}

.project-container .project-im-hover {
  margin-top: 40px;
}

.project-container .project-im-hover,
.project-container .project-im-two-hover {
  width: 250px;
  max-height: 250px;
  overflow-x: hidden;
  opacity: .95;
  cursor: pointer;
}

.project-container .project-im-two-hover {
  width: 200px;
  padding-top: 30px;
}

.project-container .project-im-hover,
.project-container .project-im-two-hover {
  display: none;
}

.projects-section {
  max-width: 1500px;
  margin: 0 auto;
}

.projects-section h1 {
  border-bottom: 2px solid #5B330A;
  border-top: 2px solid #5B330A;
  margin-bottom: 30px;
}

.above-fold-content {
  max-width: 90%;
  margin: 0 auto;
  background-color: #200E3F;
  min-height: 80vh;
  margin-top: 50px;
}

.above-fold-content h3 {
  padding: 30px 0;
}

@media (min-width: 400px) {
  .above-fold-content h3 {
    font-size: 2em;
  }
}

@media (min-width: 600px) {
  .above-fold-content h3 {
    font-size: 2.5em;
  }
}

@media (min-width: 900px) {
  .above-fold-content h3 {
    font-size: 3em;
  }
}

.above-fold-content img {
  max-height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media (min-width: 700px) {
  .above-fold-content img {
    max-width: 1500px;
  }
}

.above-fold-content p {
  padding: 20px 0;
  color: #F3EEE8;
  margin: 30px 0;
}

@media (min-width: 600px) {
  .above-fold-content p {
    margin: auto;
  }
}

.above-fold-content h4 {
  text-align: center;
  margin-top: 15px;
}

.above-fold-content a {
  border: none;
  padding: 10px 15px;
  background-color: #200E3F;
  font-weight: bold;
  border: solid 1px #988C7D;
  border-radius: 3px;
  -webkit-box-shadow: #AE7C53 2px 2px 0 0;
          box-shadow: #AE7C53 2px 2px 0 0;
  margin-top: 30px;
  cursor: pointer;
  text-transform: capitalize;
  font-family: 'Lora', sans-serif;
  color: #AE7C53;
  letter-spacing: 3px;
  font-size: 1em;
}

@media (min-width: 600px) {
  .above-fold-content a {
    padding: 15px 30px;
    margin: 0;
  }
}

.above-fold-content .button {
  margin-top: 30px;
  margin-bottom: 50px;
}

@media (min-width: 600px) {
  .above-fold-content .button {
    margin-bottom: 30px;
    padding: 15px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.capstone-project .above-fold-content p {
  padding: 0;
  margin-bottom: 0;
  line-height: 1.5em;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #27114E;
  color: #AE7C53;
  font-weight: 500;
  font-family: 'Lora', sans-serif;
  font-size: 1.25em;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  margin: 0;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #b1c5d4;
  color: #5B330A;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  -webkit-transition: 4s ease-out;
  transition: 4s ease-out;
  background-color: white;
  overflow: hidden;
}

.project-nav {
  max-width: 90%;
  max-width: 1500;
  margin: 0 auto;
  background-color: #F3EEE8;
}

.project-nav h3 {
  margin-bottom: 10px;
  color: black;
}

.project-nav img {
  max-width: 100%;
  padding: 0 10px;
}

.project-nav button {
  margin-bottom: 2px;
  margin-top: 2px;
}

.project-nav .panel p, .project-nav .accordion p {
  color: #5B330A;
  text-align: left;
  padding: 10px;
}

.project-nav article {
  padding: 30px 0;
}

.project-nav article:nth-child(even) {
  background-color: #b1c5d4;
}

.contact-section {
  min-height: 100vh;
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 75px;
}

.contact-section .link-to {
  color: #CC0066;
}

@media (min-width: 900px) {
  .contact-section .contact-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.contact-section iframe {
  width: 80vw;
  height: 40vh;
}

@media (min-width: 900px) {
  .contact-section iframe {
    width: 40vw;
    height: 65vh;
    -o-object-fit: cover;
       object-fit: cover;
    padding-left: 20px;
  }
}

.contact-section a {
  line-height: 2em;
}

.contact-section p {
  padding-bottom: 20px;
}

@media (min-width: 850px) {
  .contact-section p {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

.contact-section h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (min-width: 900px) {
  .contact-section h2 {
    margin-top: 0;
  }
}

.contact-section .form-heading {
  text-align: left;
}

@media (min-width: 900px) {
  .contact-section .form-heading {
    width: 40vw;
  }
}

.contact-section form {
  text-align: left;
}

.contact-section form ::-webkit-input-placeholder {
  color: #F8F7F3;
  font-family: 'Raleway', sans-serif;
  font-size: 1.15em;
  opacity: 75%;
}

.contact-section form :-ms-input-placeholder {
  color: #F8F7F3;
  font-family: 'Raleway', sans-serif;
  font-size: 1.15em;
  opacity: 75%;
}

.contact-section form ::-ms-input-placeholder {
  color: #F8F7F3;
  font-family: 'Raleway', sans-serif;
  font-size: 1.15em;
  opacity: 75%;
}

.contact-section form ::placeholder {
  color: #F8F7F3;
  font-family: 'Raleway', sans-serif;
  font-size: 1.15em;
  opacity: 75%;
}

.contact-section form input, .contact-section form textarea {
  width: 80vw;
  border-radius: 2px;
  border: .5px solid #999999;
  opacity: 70%;
  margin-bottom: 5px;
  background-color: #2E2A2C;
  color: white;
  font-family: 'Raleway', sans-serif;
}

@media (min-width: 900px) {
  .contact-section form input, .contact-section form textarea {
    width: 40vw;
  }
}

.contact-section form input:focus::-webkit-input-placeholder,
.contact-section form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.contact-section form input:focus:-ms-input-placeholder,
.contact-section form textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.contact-section form input:focus::-ms-input-placeholder,
.contact-section form textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.contact-section form input:focus::placeholder,
.contact-section form textarea:focus::placeholder {
  color: transparent;
}

.contact-section form input {
  height: 40px;
}

@media (min-width: 900px) {
  .contact-section form input {
    height: 50px;
  }
}

.contact-section form textarea:focus, .contact-section form input:focus {
  outline: none;
  background-color: #F3EEE8;
  color: black;
}

.contact-section form button {
  border: none;
  padding: 10px 15px;
  background-color: #200E3F;
  font-weight: bold;
  border: solid 1px #988C7D;
  border-radius: 3px;
  -webkit-box-shadow: #AE7C53 2px 2px 0 0;
          box-shadow: #AE7C53 2px 2px 0 0;
  margin-top: 30px;
  cursor: pointer;
  text-transform: capitalize;
  font-family: 'Lora', sans-serif;
  color: #CC0066;
  margin-top: 0;
  font-size: .9em;
  letter-spacing: 3px;
  color: #AE7C53;
}

.scroll-down {
  margin-top: 50px;
}

.scroll-down p {
  font-weight: 600;
}

.container {
  width: 24px;
  height: 24px;
  margin: 30px auto;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
          transform: scale3d(0.5, 0.5, 0.5);
  -webkit-animation: move 10s ease-out 2s infinite;
          animation: move 10s ease-out 2s infinite;
}

.chevron:first-child {
  -webkit-animation: move 10s ease-out 5s infinite;
          animation: move 10s ease-out 5s infinite;
}

.chevron:nth-child(2) {
  -webkit-animation: move 10s ease-out 8s infinite;
          animation: move 10s ease-out 8s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #CC0066;
}

.chevron:before {
  left: 0;
  -webkit-transform: skew(0deg, 30deg);
          transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skew(0deg, -30deg);
          transform: skew(0deg, -30deg);
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 50px;
  font-family: 'Lora', sans-serif;
  font-size: 14px;
  color: #12080D;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  left: -35px;
}

@media (min-width: 800px) {
  .text {
    margin-top: 0;
  }
}

.footer-content {
  display: none;
  background-color: #39101F;
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 48% 52% 70% 30% / 99% 62% 38% 1%;
}

.footer-content p {
  color: #988C7D;
}

.footer-content a {
  color: #988C7D;
}

@media (min-width: 550px) {
  .footer-content {
    display: block;
    float: right;
  }
  .footer-content ul, .footer-content p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 300px;
  }
  .footer-content .footer-name {
    font-family: 'Raleway', sans-serif;
  }
}

html {
  background-color: #200E3F;
  text-align: center;
  scroll-behavior: smooth;
  min-width: 320px;
}
/*# sourceMappingURL=styles.css.map */